# Logs e file locali
logs
*.log
*.local

# Dipendenze e build locali eventualmente generati
node_modules
dist
dist-ssr

# Editor e sistema operativo
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj*
*.sln
*.sw?
